<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="https://polybase-eu.herokuapp.com/api/verify?token={{ token }}">Confirm my Email</a>.
    This link will expire in 1 hour.
</p>

<p>
    Cheers!
</p>
